{{ apache_test_message }} {{ ansible_distribuition }} {{ ansible_distribuition_version }} <br>
Current Host: {{ ansible_hostname }}<br>
Server list: <br>
{% for host in groups.webservers %}
{{ host }} <br>
{% endfor %}
